<form class="form-horizontal">
    <div class="form-group">
        <label for="searchBar" class="col-md-1 control-label">Search</label>
        <div class="col-md-11">
            <input type="text" class="form-control" id="searchBar" placeholder="Search BBC Programmes"
                   ng-model="ctrl.searchTerms">
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12">
            <button type="submit" class="btn btn-default center-block" ng-click="ctrl.searchData()">Search</button>
        </div>
    </div>
</form>
<br>
<div ng-show="ctrl.showTable">
    <div ng-repeat="programme in ctrl.results | filter:search | offset: (ctrl.currentPage - 1) * ctrl.itemsPerPage | limitTo: ctrl.itemsPerPage">

        <div class="panel panel-default">
            <div class="panel-body">

                <div class="row">
                    <div class="col-md-6">

                        <h3><b> {{programme.complete_title.name}}</b></h3>
                    </div>

                    <div class="col-md-3">

                        <h4>{{programme.service}} </h4>
                    </div>
                    <div class="col-md-3">

                        <h4> {{programme.media_type}} show </h4>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-6">

                        <div ng-if="programme.complete_title.series != null"><h4><b> Series: </b>{{programme.complete_title.series}}
                        </h4></div>

                        <div ng-if="programme.complete_title.episode != null">
                            <h4><b> Episode: </b>{{programme.complete_title.episode}}
                            </h4></div>

                    </div>
                    <div class="col-md-3">
                        <p><b> Available From : </b>{{programme.start_time * 1000 | date:'EEEE, MMMM d, y, h:mm:ss a'}}
                        </p>
                    </div>
                    <div class="col-md-3">
                        <p><b>Available Until : </b> {{programme.end_time * 1000 | date:'EEEE, MMMM d, y, h:mm:ss a'}}
                        </p>
                    </div>

                </div>

            </div>
        </div>

    </div>

    <div class="text-center">
        <ul uib-pagination total-items="ctrl.totalItems" items-per-page="ctrl.itemsPerPage"
            ng-model="ctrl.currentPage" max-size="20"></ul>
    </div>

</div>

