<form class="form-horizontal">
    <div class="form-group">
        <label for="searchBar" class="col-md-1 control-label">Search</label>
        <div class="col-md-11">
            <input type="text" class="form-control" id="searchBar" placeholder="Search BBC Programmes"
                   ng-model="ctrl.searchTerms" autocomplete="off">
        </div>
    </div>

    <div ng-show="ctrl.displayOptions">

        <div class="form-group">
            <label for="services" class="col-md-1 control-label">Service</label>
            <div class="col-md-11">
                <input name="services" id="services" type="text" placeholder="Enter a Service"
                       ng-model="ctrl.service"
                       uib-typeahead="service for service in ctrl.services| filter:$viewValue | limitTo:8"
                       class="form-control" autocomplete="off">
            </div>
        </div>

        <div class="form-group">
            <label for="mediaType" class="col-md-1 control-label">Media</label>
            <div class="col-md-5">
                <select name="mediaType" class="form-control" id="mediaType" ng-model="ctrl.mediaType">
                    <option value="" disabled selected>Select Media type...</option>

                    <option ng-repeat="media in ctrl.mediaTypes" value="{{media}}"> {{media}}
                    </option>
                </select>
            </div>
            <label for="isClip" class="col-md-1 control-label">Clip</label>
            <div class="col-md-5">
                <select name="isClip" class="form-control" id="isClip" ng-model="ctrl.isClip">
                    <option value="" disabled selected>Select Clip...</option>
                    <option value="1"> Yes</option>
                    <option value="0"> No</option>
                </select>
            </div>


        </div>

        <div class="form-group">
            <label class="col-md-1 control-label">Available From </label>
            <div class="col-md-5">
                <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="{{ctrl.format}}" ng-model="ctrl.dt1"
                           is-open="ctrl.popup1.opened" datepicker-options="ctrl.dateOptions"
                           close-text="Close" alt-input-formats="altInputFormats"/>
                    <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="ctrl.open1()"><i
                    class="glyphicon glyphicon-calendar"></i></button>
          </span>
                </p>
            </div>
            <label class="col-md-1 control-label">Available Until </label>
            <div class="col-md-5">
                <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="{{ctrl.format}}" ng-model="ctrl.dt2"
                           is-open="ctrl.popup2.opened" datepicker-options="ctrl.dateOptions"
                           close-text="Close"/>
                    <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="ctrl.open2()"><i
                    class="glyphicon glyphicon-calendar"></i></button>
          </span>
                </p>
            </div>

        </div>


        <div class="form-group">
            <label class="col-md-1 control-label">Categories</label>
            <div class="col-md-5">
                <div ng-dropdown-multiselect="" options="ctrl.options" selected-model="ctrl.selectedCats"
                     extra-settings="ctrl.catSettings"></div>
            </div>

            <label class="col-md-1 control-label">Tags</label>
            <div class="col-md-5">
                <div ng-dropdown-multiselect="" options="ctrl.tags" selected-model="ctrl.selectedTags"
                     extra-settings="ctrl.catSettings"></div>
            </div>
        </div>

    </div>

    <div class="form-group">

        <div class="col-md-12 text-center">
            <button type="submit" class="btn btn-default" ng-click="ctrl.searchData()">{{ctrl.searchText}}</button>
            <button type="submit" class="btn btn-default" ng-click="ctrl.clearAll()">Clear</button>
            <a class="button" ng-click="ctrl.changeOptions()"> {{ctrl.optionsText}}</a>
        </div>

    </div>

</form>

<br>

<div class="row" ng-show="ctrl.showTable || ctrl.showCalender">
    <div class="col-md-9">
        <h3><b>{{ctrl.totalItems}}</b> Results Found</h3>
    </div>
    <div class="col-md-3">
        <button type="button" class="btn btn-default" ng-click="ctrl.displayData()">{{ctrl.buttonText}}</button>
    </div>
</div>
<div ng-show="ctrl.showTable">

    <div ng-repeat="programme in ctrl.results | filter:search | offset: (ctrl.currentPage - 1) * ctrl.itemsPerPage | limitTo: ctrl.itemsPerPage">

        <div class="panel panel-default">
            <div class="panel-body">

                <div class="row">
                    <div class="col-md-6">

                        <h3><a ng-click="ctrl.detailedView(programme.pid)"> <b>
                            {{programme.complete_title.name}} </b></a>
                        </h3>
                    </div>

                    <div class="col-md-3">

                        <h4>{{programme.service}} </h4>
                    </div>
                    <div class="col-md-3">

                        <h4> {{programme.media_type}} show </h4>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-6">

                        <div ng-if="programme.complete_title.series != null"><h4><b> Series: </b>{{programme.complete_title.series}}
                        </h4></div>

                        <div ng-if="programme.complete_title.episode != null">
                            <h4><b> Episode: </b>{{programme.complete_title.episode}}
                            </h4></div>

                    </div>
                    <div class="col-md-3">
                        <p><b> Available From : </b>{{programme.start_time * 1000 | date:'EEEE, MMMM d, y, h:mm:ss
                            a'}}
                        </p>
                    </div>
                    <div class="col-md-3">
                        <p><b>Available Until : </b> {{programme.end_time * 1000 | date:'EEEE, MMMM d, y, h:mm:ss
                            a'}}
                        </p>
                    </div>

                </div>


            </div>
        </div>

    </div>

    <div class="text-center">
        <ul uib-pagination total-items="ctrl.totalItems" items-per-page="ctrl.itemsPerPage"
            ng-model="ctrl.currentPage" max-size="20"></ul>
    </div>


</div>

<div ng-show="ctrl.showCalender">
    <h2 class="text-center">{{ ctrl.calendarTitle }}</h2>

    <div class="row">

        <div class="col-md-6 text-center">
            <div class="btn-group">

                <button
                        class="btn btn-primary"
                        mwl-date-modifier
                        date="ctrl.viewDate"
                        decrement="ctrl.calendarView"
                        ng-click="ctrl.cellIsOpen = false">
                    Previous
                </button>
                <button
                        class="btn btn-default"
                        mwl-date-modifier
                        date="ctrl.viewDate"
                        set-to-today
                        ng-click="ctrl.cellIsOpen = false">
                    Today
                </button>
                <button
                        class="btn btn-primary"
                        mwl-date-modifier
                        date="ctrl.viewDate"
                        increment="ctrl.calendarView"
                        ng-click="ctrl.cellIsOpen = false">
                    Next
                </button>
            </div>
        </div>

        <br class="visible-xs visible-sm">

        <div class="col-md-6 text-center">
            <div class="btn-group">
                <label class="btn btn-primary" ng-model="ctrl.calendarView" uib-btn-radio="'year'"
                       ng-click="ctrl.cellIsOpen = false">Year</label>
                <label class="btn btn-primary" ng-model="ctrl.calendarView" uib-btn-radio="'month'"
                       ng-click="ctrl.cellIsOpen = false">Month</label>
            </div>
        </div>

    </div>

    <br>

    <mwl-calendar
            events="ctrl.events"
            view="ctrl.calendarView"
            view-title="ctrl.calendarTitle"
            view-date="ctrl.viewDate"
            cell-is-open="ctrl.cellIsOpen"
            day-view-split="30"
            cell-auto-open-disabled="true"
            on-timespan-click="ctrl.timespanClicked(calendarDate, calendarCell)">
    </mwl-calendar>
</div>

<div class="row" ng-show="ctrl.noResults">
    <div class="col-md-12">
        <h3><b> No Results Found</b></h3>

    </div>
</div>





