<div class="jumbotron">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center"><b>{{ctrl.result.complete_title.name}} </b></h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <div ng-if="ctrl.result.complete_title.series != null"><h3><b> Series: </b>{{ctrl.result.complete_title.series}}
            </h3></div>

            <div ng-if="ctrl.result.complete_title.episode != null">
                <h3><b> Episode: </b>{{ctrl.result.complete_title.episode}}
                </h3></div>

        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <p><b> Available From : </b>{{ctrl.result.start_time * 1000 | date:'EEEE, MMMM d, y, h:mm:ss a'}}
            </p>
        </div>

        <div class="col-md-6">
            <p><b>Available Until : </b> {{ctrl.result.end_time * 1000 | date:'EEEE, MMMM d, y, h:mm:ss a'}}
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <p><b> Media Type : </b>{{ctrl.result.media_type}}
            </p>
        </div>

        <div class="col-md-6">
            <p><b>Clip : </b> {{ctrl.clipType}}
            </p>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-12">
            <div ng-if="ctrl.result.tags != null"><p><b> Tags: </b>{{ctrl.result.tags.join(", ")}}
            </p></div>

            <div ng-if="ctrl.result.categories != null"><p><b> Categories: </b></p>
                <ul ng-repeat="category in ctrl.result.categories">
                    <li><p>{{category.join(", ")}}</p></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-show="ctrl.showOther">
    <div class="col-md-12">
        <h2 class="text-center"><b>Other episodes in this Programme </b></h2></div>
    <div class="row">
        <div class="col-md-12">
            <h3><b>{{ctrl.totalItems}}</b> episodes available </h3>
        </div>
    </div>
    <div class="row"
         ng-repeat="programme in ctrl.programmeResults | filter:search | offset: (ctrl.currentPage - 1) * ctrl.itemsPerPage | limitTo: ctrl.itemsPerPage">
        <hr>
        <div class="col-md-3">
            <h3><a ng-click="ctrl.detailedView(programme.pid)"><b> {{programme.complete_title.name}}</b></a></h3>
        </div>

        <div class="col-md-6">
            <div ng-if="programme.complete_title.series != null"><h4><b> Series: </b>{{programme.complete_title.series}}
            </h4></div>
            <div ng-if="programme.complete_title.episode != null">
                <h4><b> Episode: </b>{{programme.complete_title.episode}}
                </h4></div>
        </div>

        <div class="col-md-3">
            <p><b> Available From : </b>{{programme.start_time * 1000 | date:'EEEE, MMMM d, y, h:mm:ss a'}}
            </p>
            <p><b>Available Until : </b> {{programme.end_time * 1000 | date:'EEEE, MMMM d, y, h:mm:ss a'}}
            </p>
        </div>

    </div>

    <div class="text-center">
        <ul uib-pagination total-items="ctrl.totalItems" items-per-page="ctrl.itemsPerPage"
            ng-model="ctrl.currentPage" max-size="20"></ul>
    </div>

</div>